body{
    font-family: sans-serif;
}

.h-1{
    text-align: center;
    font-size: 30px;
    color: black;
    font-weight: 200;
}

h2{
    color: gray;
    font-weight: 200;
}


.team img{
    height: 50px;
    border-radius: 50px;
}

.team h5{
    position: relative;
    bottom: 50px;
    left: 70px;
}