body{
    font-family: sans-serif;
}

.h-1{
    text-align: center;
    font-size: 30px;
    color: black;
    font-weight: 200;
    margin: 2%;
}

h2{
    color: gray;
    font-weight: 200;
}


.team img{
    height: 50px;
    border-radius: 50px;
}

.team h5{
    position: relative;
    bottom: 50px;
    left: 70px;
}

header nav ul li{
    position: relative;
    float: left;
    text-decoration: none;
}

header nav ul li a {
    padding: 15px;
    color: black;
    font-size: 16px;
    display: block;
    text-decoration: none;
}

header nav ul li a:hover{
    background-color: black;
    color: white;
    text-decoration: none;
}

.u-1{
    position: relative;
    top: 30px;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    margin-right: 42%;
    text-decoration: none;
    list-style: none;
}

nav ul li ul{
    position: absolute;
    left: 0;
    width: 180px;
    background: white;
    display: none;
}

nav ul li ul li{
    width: 100%;
    border: 1px solid black;
}

nav ul li ul li ul{
    left: 180px;
    top: 0;
}

nav ul li:hover > ul {
    display: initial;
}

.i-1 {
    height: 100px;
    position: absolute;
    top: 10px;
    left: 10px;
}
