.h-1{
    text-align: center;
    font-size: 30px;
    color: black;
    font-weight: 200;
}

h2{
    font-weight: 200;
}

.team img{
    height: 50px;
    border-radius: 50px;
}

.team h5{
    position: relative;
    bottom: 50px;
    left: 70px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    padding: 40px;
}

.card {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 20px;
    width: 780px;
    height: 450px;
    text-align: center;
    border-radius: 20px;
}

.card:hover{
    box-shadow: 0px 2px 30px -10px black;
}

.card-button{
    margin-top: 20px;
    border: 1px solid #0056b3;
    background-color: white;
    color: #0056b3;
    padding: 17px;
    margin-right: 110px;
    font-size: 13px;
}

.images{
    position: relative;
    top: 80px;
    right: 230px;
}

.header{
    position: relative;
    bottom: 270px;
}

.header h2{
    position: relative;
    top: 25px;
    left: 60px;
}

.header p{
    position: relative;
    top: 20px;
    left: 310px;
    width: 420px;
    text-align: left;
}

.experience{
    text-align: left;
    position: relative;
    left: 320px;
    width: 600px;
    bottom: 250px;
}

.footer a{
    color: #bebebe;
    text-decoration: none;
    position: relative;
    bottom: 270px;
    left: 330px;
    font-size: 20px;
}

.footer a:hover{
    color: black;
}

.l-1{
    position: relative;
    bottom: 15px;
    width: 350px;
}

.experience h3{
    position: relative;
    bottom: 10px;
    font-size: 15px;
    right: 5px;
}

.birth{
    position: relative;
    right: 210px;
    bottom: 10px;
}