body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    padding: 40px;

}

.container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    position: relative;
    bottom: 200px;
}

.container-2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    position: relative;
    bottom: 270px;
}

.container-3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    position: relative;
    bottom: 350px;
}

.card {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 20px;
    width: 380px;
    height: 570px;
    text-align: center;
}

.card-1 {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 20px;
    width: 380px;
    height: 570px;
    text-align: center;
}

.card:hover{
    box-shadow: 0px 0px 10px 5px #CACFD2;
}

.card-1:hover{
    box-shadow: 0px 0px 10px 5px #CACFD2;
}

.card-title{
    position: relative;
    top: 40px;
    left: 5px;
}

.card-title-1{
    position: relative;
    top: 40px;
    left: 35px;
}

.card-title-2{
    position: relative;
    top: 40px;
}

.card-logo{
    height: 80px;
    margin-right: 260px;
}

.card-footer{
    border-top: 1px solid #CACFD2;
}

.card-footer-1{
    margin-top: 40px;
    border-top: 1px solid #CACFD2;
}

.card-button{
    margin-top: 20px;
    border: 1px solid #0056b3;
    background-color: white;
    color: #0056b3;
    padding: 17px;
    margin-right: 110px;
    font-size: 13px;
}

.card-button-1{
    margin-top: 20px;
    border: 1px solid #0056b3;
    background-color: white;
    color: #0056b3;
    padding: 17px;
    margin-right: 110px;
    font-size: 13px;
}

.card-button:hover{
    background-color: #0056b3;
    color: white;
}

.p-1{
    position: relative;
    bottom: 60px;
    left: 20px;
    font-size: 13px;
}

.card-b{
    position: relative;
    bottom: 30px;
}

.card-b-1{
    position: relative;
    bottom: 10px;
}

.p-2{
    position: relative;
    bottom: 30px;
    left: 20px;
    font-size: 13px;
    color: #1B2631;
    text-align: left;
    width: 360px;
}

.s-1{
    position: relative;
    top: 3px;
}

.card-a{
    text-decoration: none;
    color: #0056b3;
}

.card-footer a:hover{
    text-decoration: underline;
}

.t-1{
    position: relative;
    bottom: 15px;
    left: 20px;
    border: 1px solid #F2F3F4;
    background-color: #F2F3F4;
    color: #0056b3;
    height: 80px;
    width: 150px;
    text-align: left;
}

.t-1-1{
    position: relative;
    top: 13px;
    bottom: 15px;
    left: 20px;
    border: 1px solid #F2F3F4;
    background-color: #F2F3F4;
    color: #0056b3;
    height: 80px;
    width: 150px;
    text-align: left;
}

.t-4-4{
    position: relative;
    bottom: 70px;
    left: 190px;
    border: 1px solid #F2F3F4;
    background-color: #F2F3F4;
    color: #0056b3;
    height: 80px;
    width: 150px;
    text-align: left;
}

.t-4{
    position: relative;
    bottom: 97px;
    left: 190px;
    border: 1px solid #F2F3F4;
    background-color: #F2F3F4;
    color: #0056b3;
    height: 80px;
    width: 160px;
    text-align: left;
}

.t-5{
    font-size: 10px;
    color: black;
    position: relative;
    top: 10px;
    left: 15px;
}

.t-6{
    position: relative;
    left: 10px;
    font-size: 24px; 
    color: #0056b3; 
    margin-right: 3px;
    display: flex; 
    align-items: center;
}

.t-6 svg{
    margin-right: -10px;
}

.t-3{
    font-size: 10px;
    color: black;
    position: relative;
    top: 10px;
    left: 15px;
}

.t-2{
    position: relative;
    top: 8px;
    left: 15px;
    font-size: 17px;
}

.b-1{
    border: 1px solid #0056b3;
    background-color:#0056b3;
    color: white;
    padding: 3px;
    border-radius: 10px;
    font-size: 13px;
}

.b-2{
    border: 1px solid #0056b3;
    background-color:#0056b3;
    color: white;
    padding: 3px;
    border-radius: 10px;
    font-size: 13px;
}

.p-4{
    position: relative;
    left: 20px;
    text-align: left;
    font-size: 14px;
}

.p-3{
    text-align: left;
    position: relative;
    left: 20px;
    font-size: 14px;
}

.btn-1{
    background-color: #e5e7e9;
    padding: 20px;
    width: 180px;
    border: none;
    left: 88%;
    font-size: 20px;
    position: relative;
    bottom: 300px;
    left: 800px;
}

.btn-1:hover{
    background-color: #fff;
    box-shadow: 1px 4px 4px 0px #e5e7e9;
}

.btn-1 a{
    color: black;
    text-decoration: none;
}
