body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: white;
    display: flex;
    justify-content: center;
    height: 550px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.i-1{
    position: absolute;
    left: 20px;
    top: 40px;
    height: 85px;
}

header nav{
    position: absolute;
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

header nav a{
    padding: 15px;
    color: black;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}
 
.href{
    position: absolute;
    left: 85%;
    font-size: 16px;
    display: flex;
    align-items: center;
    background-color: #1a73e8;
    padding: 15px;
    height: 50px; 
    width: 80px;
}
.href a{
    text-align: center;
    margin-left: 15px;
    color: white;
    text-decoration: none;
}

.href:hover{
    background-color: #167cfa;
}

header nav a:hover{
    background-color: black;
    color: white;
}

.d-101{
    display: flex;
    justify-content: center;
    margin-left: 110px;
}

.h-101{
    font-family: 'Arial', sans-serif;
    position: relative;
    left: 15%;
    top: 34%;
    width: 800px;
}

.b-3{
    color: #1a73e8;
}

.b-4{
    color: #1a73e8;
    border: 2px dashed LightSteelBlue;
    padding: 3px;
}

.p-101{
    display: flex;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    position: relative;
    right: 735px;
    top: 53%;
    width: 1000px;
}

.i-101{
    position: relative;
    top: 200px;
    left: 580px;
}

.f-101{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 60%;
    margin-left: 12%;
}

.filter-bar {
    background-color: #fff5e6;
    border: 1px solid #f4d89f;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 1300px;
}

.filter-options {
    display: flex;
    gap: 20px;
    position: relative;
    left: 30px;
}


.filter-option {
    margin-right: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

.highlight-box {
    border: 1px solid #b1b5ff;
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #000;
}

.highlight-box span {
    font-weight: bold;
    color: #1a73e8;
}

.filter-btn{
    background-color: #1a73e8;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.filter-btn:hover {
    background-color: #125bb3;
}

.sort-btn {
    border: 1px solid #ccc;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    margin-left: 650px;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    padding: 40px;
}

.container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    position: relative;
    bottom: 200px;
}

.container-2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    position: relative;
    bottom: 270px;
}

.container-3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    position: relative;
    bottom: 350px;
}

.card {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 20px;
    width: 380px;
    height: 570px;
    text-align: center;
}

.card-1 {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 20px;
    width: 380px;
    height: 570px;
    text-align: center;
}

.card:hover{
    box-shadow: 0px 0px 10px 5px #CACFD2;
}

.card-1:hover{
    box-shadow: 0px 0px 10px 5px #CACFD2;
}

.card-title{
    position: relative;
    top: 40px;
    left: 5px;
}

.card-title-1{
    position: relative;
    top: 40px;
    left: 35px;
}

.card-title-2{
    position: relative;
    top: 40px;
}

.card-logo{
    height: 80px;
    margin-right: 260px;
}

.card-footer{
    border-top: 1px solid #CACFD2;
}


.card-footer-1{
    margin-top: 40px;
    border-top: 1px solid #CACFD2;
}

.card-button-101{
    position: relative;
    top: 35px;
    text-decoration: none;
    margin-top: 120px;
    border: 1px solid #0056b3;
    background-color: white;
    color: #0056b3;
    padding: 17px;
    margin-right: 110px;
    font-size: 13px;
}

.card-button-102{
    position: relative;
    top: 35px;
    text-decoration: none;
    margin-top: 120px;
    border: 1px solid #0056b3;
    background-color: white;
    color: #0056b3;
    padding: 17px;
    margin-right: 140px;
    font-size: 13px;
}

.card-button-1{
    margin-top: 20px;
    border: 1px solid #0056b3;
    background-color: white;
    color: #0056b3;
    padding: 17px;
    margin-right: 110px;
    font-size: 13px;
}

.card-button-101:hover{
    background-color: #0056b3;
    color: white;
}

.card-button-102:hover{
    background-color: #0056b3;
    color: white;
}

.card-button-1:hover{
    background-color: #0056b3;
    color: white;
}


.p-1{
    position: relative;
    bottom: 60px;
    left: 20px;
    font-size: 13px;
}

.card-b{
    position: relative;
    bottom: 30px;
}

.card-b-1{
    position: relative;
    bottom: 10px;
}

.p-2{
    position: relative;
    bottom: 30px;
    left: 20px;
    font-size: 13px;
    color: #1B2631;
    text-align: left;
    width: 360px;
}

.s-1{
    position: relative;
    top: 3px;
}

.card-a{
    position: relative;
    top: 35px;
    text-decoration: none;
    color: #0056b3;
}

.card-a:hover{
    text-decoration: underline;
}


.t-1{
    position: relative;
    bottom: 15px;
    left: 20px;
    border: 1px solid #F2F3F4;
    background-color: #F2F3F4;
    color: #0056b3;
    height: 80px;
    width: 150px;
    text-align: left;
}

.t-1-1{
    position: relative;
    top: 13px;
    bottom: 15px;
    left: 20px;
    border: 1px solid #F2F3F4;
    background-color: #F2F3F4;
    color: #0056b3;
    height: 80px;
    width: 150px;
    text-align: left;
}

.t-4-4{
    position: relative;
    bottom: 70px;
    left: 190px;
    border: 1px solid #F2F3F4;
    background-color: #F2F3F4;
    color: #0056b3;
    height: 80px;
    width: 150px;
    text-align: left;
}

.t-4{
    position: relative;
    bottom: 97px;
    left: 190px;
    border: 1px solid #F2F3F4;
    background-color: #F2F3F4;
    color: #0056b3;
    height: 80px;
    width: 160px;
    text-align: left;
}

.t-5{
    font-size: 10px;
    color: black;
    position: relative;
    top: 10px;
    left: 15px;
}

.t-6{
    position: relative;
    left: 10px;
    font-size: 24px; 
    color: #0056b3; 
    margin-right: 3px;
    display: flex; 
    align-items: center;
}

.t-6 svg{
    margin-right: -10px;
}

.t-3{
    font-size: 10px;
    color: black;
    position: relative;
    top: 10px;
    left: 15px;
}

.t-2{
    position: relative;
    top: 8px;
    left: 15px;
    font-size: 17px;
}

.b-1{
    border: 1px solid #0056b3;
    background-color:#0056b3;
    color: white;
    padding: 3px;
    border-radius: 10px;
    font-size: 13px;
}

.b-2{
    border: 1px solid #0056b3;
    background-color:#0056b3;
    color: white;
    padding: 3px;
    border-radius: 10px;
    font-size: 13px;
}

.p-4{
    position: relative;
    left: 20px;
    text-align: left;
    font-size: 14px;
}

.p-3{
    text-align: left;
    position: relative;
    left: 20px;
    font-size: 14px;
}

footer{
    position: relative;
    top: 100%;
    padding: 90px;
    background-color: #e5e7e9;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-column {
    width: 22%;
    margin-bottom: 20px;
}

.footer-column h4 {
    margin-bottom: 15px;
    font-size: 16px;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    color: black;
    text-decoration: none;
    font-size: 14px;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    border-top: 1px solid #444;
    padding-top: 20px;
    text-align: center;
}


.footer-bottom p {
    margin: 5px 0;
    font-size: 12px;
}

.footer-bottom a {
    color: black;
    text-decoration: none;
    margin: 0 5px;
}

.footer-bottom a:hover {
    text-decoration: underline;
}

.mobile-apps a {
    margin: 0 5px;
}

.mobile-apps img {
    width: 24px;
}
